body{
    background-color: #192c63 !important;
    color: #fff !important;
    font-family: "Rubik", sans-serif !important;
}

/* ---- Header Section ---- */ 

.header .navbar .logo h2{
    font-size: 2.5em !important;
}
.header .navbar .logo h2 span{
    color: rgb(10, 165, 165) !important;
    text-shadow: 1px 1px 3px white;
}

.header .navbar .menu-navbar{
    width: 40vw;
    display:flex;
    justify-content: space-around ;  
    list-style: none;  
}

.header .navbar .menu-navbar a{
    text-decoration: none;
    color: white;
}

/* ---- Main Section ---- */ 

.main-content{ 
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 2rem;
    align-items: center;
}

.main-content .img-container img{
    width: 30vw;
}
.main-content .btn-outline-success
{
    background-color: #1cbe32 !important;
    color:white !important;
}
.main-content .btn-outline-success:hover
{
    background-color: #0e7e1d !important;
    color:white !important;
}